{% extends 'base.html' %}

{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">Reset Password</div>
    <div class="panel-body">
        
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        <form  style="margin-left: 00px;" class="form-horizontal" role="form" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="email" class="col-md-4 control-label">পাসওয়ার্ড : </label>

                <div class="col-md-6">
                    <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 control-label">কনফার্ম পাসওয়ার্ড : </label>

                <div class="col-md-6">
                    <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">

                        পাসওয়ার্ড পরিবর্তন করুন
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}

