{% load static %}

<nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <div class="container">
      <div id='cssmenu'>
        <ul class="scss">
          <div class="navbar-headers"><a style="font-style: ; font-size: 25px; " class="navbar-brands"> < টেকফোরাম /> </a></div>
          <li style="margin-top: 3px;"><a href='\'>হোম</a></li>
          <li class='active' style="margin-top: 3px;"><a href='#'>বিভাগ</a>
            <ul>
              {% for category in categories %}
              <li><a href='/category/{{ category.id }}'> {{ category.name }} </a>
              </li>
             {% endfor %}       
            </ul>
          </li>
        {% if user.is_authenticated %}
          
          <li style="margin-top: 3px;"><a href="/question">প্রশ্ন করুন</a></li>
          <li style="margin-top: 3px;"><a href="/blog">ব্লগ</a></li>
          <li class='active' style="margin-top: 3px;"><a href='#'>আমার একাউন্ট</a>
            <ul>
              <li><a href="/user/profile/{{ user.id }}/">প্রোফাইল</a></li>
              <li><a href="/logout"> লগ-আঊট</a></li> 
            </ul>
          </li>
        {% else %}
          <li style="margin-top: 3px;"><a href='/login'>লগিন</a></li>
          <li style="margin-top: 3px;"> <a href='/register'>রেজিস্টার</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>