{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>Techforum</title>
	{% include 'head.html' %}
	<style type="text/css">
		small#hint_id_new_password1 {
			display: none;
		}

		.invalid-feedback {
			color: red;
		}
		label{
			color: #4c4c4c;
		}
	</style>
</head>
<body>
	{% include 'nav.html' %}
	<div class="container">
		<div class="mahbub">
			<div class="col-md-12">
				<div class="row">
					<!-- Nav tabs -->
					<div class="card">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation"><a href="/user/profile/{{ users.id }}">প্রোফাইল</a></li>
							<li><a href="/user/question/{{ users.id }}">প্রশ্নসমূহ</a></li>
							<li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">প্রোফাইল সম্পাদনা করুন</a></li>
						</ul>

						<!-- Tab panes -->
						<div role="tabpanel" class="tab-pane" id="settings">
							<div class="container">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-3" id="bhoechie-tab-container">
											<div class="bhoechie-tab-menu">
												<div class="list-group">
													<a href="/user/profile/setting/{{ users.id }}" class="list-group-item text-center">
														<i class="fa fa-user-o" aria-hidden="true"></i><br/>ব্যক্তিগত তথ্য
													</a>
													<a href="#"  class="list-group-item text-center">
														<i class="fa fa-asterisk" aria-hidden="true"></i><br/>ট্যাগ
													</a>
													<a href="#" class="list-group-item active text-center">
														<i class="fa fa-cogs" aria-hidden="true"></i><br/>অ্যাকাউন্ট সেটিংস
													</a>
												</div>
											</div>
										</div>
										<div class="col-md-9">
											<h5 style="margin-left: 30px;">পাসওয়ার্ড পরিবর্তন করুন</h5>
											<hr>
											<div class="passwords">
												<form method="POST">
													{% csrf_token %}
													{{ form|crispy }}
													<button class="btn btn-primary">ঠিক আছে</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}   
	{% include 'script.html' %}
</body>
</html>
